{% extends "home/base.html" %}
{% load static %}
{% block content %}

{% if not tabla %}
    <br>
    <p style="margin-left: 1.5%; color:#e44c65;"> No hay datos disponibles</p>
{% else %}
    <hr />
        <div class="table-wrapper" style="width: 60%; margin: auto;">
            <table class="alt">
                <thead>
                    <tr>
                        <th>EUI:</th>
                        <th>Alias:</th>
                        <th>Fecha</th>
                        <th>Temp:</th>
                        <th>H:</th>
                        <th>Limoneno:</th>
                        <th>Detectado:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dato_tabla in tabla %}
                    <tr>
                        <td>{{ dato_tabla.dispositivo.dispositivo_id }}</td>
                        {% if dato_tabla.dispositivo.alias %}
                            <td>{{ dato_tabla.dispositivo.alias }}</td>
                        {% else %}
                            <td> --- </td>
                        {% endif %}
                        <td>{{ dato_tabla.fecha_creacion }}</td>
                        <td>{{ dato_tabla.temp }} ºC</td>
                        <td>{{ dato_tabla.hum }} %</td>
                        <td>{{ dato_tabla.ppm }} ppm</td>
                        <td <td style="text-align: center;">
                            {% if dato_tabla.lemo %}
                                <span style="color: green;">✔</span>
                            {% else %}
                                <span style="color: red;">✘</span>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if tabla.has_next %}
                <form method="get" action="" style="display: inline; float: right;">
                    <button type="submit" class="button primary small" name="page" value="{{ page|add:1 }}">Mostrar más</button>
                </form>
            {% endif %}

            {% if tabla.has_previous %}
                <form method="get" action="" style="display: inline; float: left;">
                    <button type="submit" class="button primary small" name="page" value="{{ page|add:-1 }}">Mostrar menos</button>
                </form>
            {% endif %}

            <p style="clear: left;">
                Página <a href="?page=1">1</a>...{{ page }}...<a href="?page={{ num_paginas }}">{{ num_paginas }}</a>
            </p>
        </div>

{% endif %}
{% endblock %}