{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br/>

	<p style="color: #e44c65; margin-left: 3%;">¿Estás seguro de que deseas eliminar tu cuenta?</p>
    <form id="eliminarForm" method="post" action="{% url 'eliminar_usuario' %}">
        {% csrf_token %}
        <button type="button" style="width: min-content; margin-left: 5%;" class="button primary small fit" onclick="confirmarEliminacion() ">Eliminar cuenta</button>
    </form>
{% endblock %}
