{% extends "home/base.html" %}
{% load static %}
{% block content %}
<h3></h3>
        <div class="table-wrapper" style="width: 60%; margin: auto;">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Numero 1:</th>
                        <th>Numero 2:</th>
                        <th>Numero 3:</th>
                        <th>Detectado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teclado in datos_teclado %}
                    <tr>
                        <td>{{ teclado.numero1 }}</td>
                        <td>{{ teclado.numero2 }}</td>
                        <td>{{ teclado.numero3 }}</td>
                        <td>{{ teclado.numeroB }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>

{% endblock %}