{% extends "home/base.html" %}
{% load static %}
{% block content %}
<h3></h3>
        <div class="table-wrapper" style="width: 60%; margin: auto;">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Temperatura</th>
                        <th>Humedad</th>
                        <th>Algo mas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sos puto</td>
                        <td>Si lo sos</td>
                        <td>apsdj</td>
                    </tr>
                   
                </tbody>
                
            </table>
        </div>

{% endblock %}